@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Create an event for a product</h3>
    </div>
    <div class="card-body">
        <div id='calendar'></div>
    </div>
</div>
<script src="~/js/calendar.js"></script>