<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Supply Chain</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link href="~/adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Select2 -->
    <link href="~/lib/chosen/component-chosen.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!--Current Page Context-->
        <input type="hidden" id="currentPage" value="@ViewContext.RouteData.Values["action"]?.ToString()" />
        <!-- Spinner -->
        <div id="spinner" class="spinner"></div>
        <!-- Preloader -->
        @await Html.PartialAsync("_Preloader")
        <!-- Navbar -->
        @await Html.PartialAsync("_Navbar")
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("_Sidebar")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="container pt-5">
                @RenderBody()
            </div>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @await Html.PartialAsync("_Footer")
    </div>
    <!-- ./wrapper -->
    <!-- Scritps -->
    @await Html.PartialAsync("_Scripts")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
