@using SupplyChain.App.ViewModels;
@model LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Supply Chain</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Font Awesome -->
    <link href="~/adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link href="~/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="landscape-background hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b class="text-uppercase text-light">Sign In</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form method="post">
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <div class="alert alert-danger text-center p-1">
                            <small>@ViewBag.ErrorMessage</small>
                        </div>
                    }
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input asp-for="Email" class="form-control rounded-0" placeholder="Email" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="fas fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input asp-for="Password" class="form-control rounded-0" placeholder="Password" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger d-block"></span>
                    </div>
                    <div class="input-group mb-3">
                        <label asp-for="IsSupplier" class="control-label mr-2">I Supplier</label>
                        <div>
                            <input asp-for="IsSupplier" type="checkbox" class="align-middle" />
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
