@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Session TimeOut</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/adminlte/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Theme style -->
    <link href="~/adminlte/dist/css/adminlte.min.css" rel="stylesheet" />
    <style>
        *, html {
            font-family: 'Roboto Condensed', sans-serif;
            color: #fff;
        }

        .landscape-background {
            background: rgb(41,128,185);
            background: radial-gradient(circle, rgba(41,128,185,1) 0%, rgba(44,62,80,1) 100%);
            height: 100vh;
            overflow-x: hidden;
        }

        .font-white {
            color: #fff;
        }

        .f-300 {
            font-weight: 300;
        }
    </style>
</head>
<body class="landscape-background">
    <div class="container">
        <div class="row">
            <table style="height:250px;" class="w-100 text-white">
                <tbody>
                    <tr class="text-center w-100">
                        <td class="align-middle">
                            <h1 class="display-1 d-inline mr-1 f-300">Session</h1>
                            <p class="display-1 font-weight-bold d-inline">Timeout</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-center">
            <svg version="1.1"
                 width="250"
                 height="250"
                 x="0"
                 y="0"
                 viewBox="0 0 43.349 43.349"
                 style="enable-background:new 0 0 512 512"
                 xml:space="preserve"
                 fill-rule="evenodd"
                 class=""
                 id="svg14"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs18" />
            <path d="m 30.63,35.215 a 0.38,0.38 0 0 1 -0.187,-0.712 18.042,18.042 0 0 0 9.241,-15.734 c 0,-9.93 -8.08,-18.008 -18.009,-18.008 -9.93,0 -18.01,8.079 -18.01,18.008 0,6.52 3.541,12.55 9.24,15.734 a 0.38,0.38 0 1 1 -0.37,0.663 18.802,18.802 0 0 1 -9.63,-16.397 C 2.905,8.42 11.325,0 21.675,0 c 10.35,0 18.77,8.42 18.77,18.77 0,6.795 -3.691,13.078 -9.631,16.396 a 0.375,0.375 0 0 1 -0.184,0.049 z"
                  fill="#000000"
                  opacity="1"
                  data-original="#000000"
                  class=""
                  id="path2"
                  style="fill:#ffffff;fill-opacity:1" />
            <path d="M 14.26,32.548 A 0.383,0.383 0 0 1 14.076,32.501 15.713,15.713 0 0 1 5.983,18.769 c 0,-8.651 7.04,-15.69 15.692,-15.69 8.652,0 15.69,7.039 15.69,15.69 a 15.713,15.713 0 0 1 -8.091,13.732 0.38093832,0.38093832 0 0 1 -0.37,-0.666 14.95,14.95 0 0 0 7.701,-13.066 c 0,-8.232 -6.697,-14.93 -14.93,-14.93 -8.233,0 -14.931,6.698 -14.931,14.93 a 14.95,14.95 0 0 0 7.7,13.066 0.38,0.38 0 0 1 -0.184,0.713 z"
                  fill="#000000"
                  opacity="1"
                  data-original="#000000"
                  class=""
                  id="path4"
                  style="fill:#ffffff;fill-opacity:1" />
            <path d="m 21.675,6.634 a 0.38,0.38 0 0 1 -0.38,-0.38 V 3.46 a 0.38,0.38 0 1 1 0.76,0 v 2.795 c 0,0.21 -0.17,0.38 -0.38,0.38 z M 9.159,19.15 H 6.364 a 0.38,0.38 0 1 1 0,-0.76 h 2.795 a 0.38,0.38 0 0 1 0,0.76 z m 27.827,0 h -2.794 a 0.38,0.38 0 1 1 0,-0.76 h 2.794 a 0.38,0.38 0 0 1 0,0.76 z M 21.675,17.246 c -0.84,0 -1.524,0.684 -1.524,1.523 0,0.841 0.683,1.524 1.524,1.524 a 1.524,1.524 0 0 0 0,-3.047 z m 0,3.808 a 2.287,2.287 0 0 1 -2.284,-2.285 2.285,2.285 0 1 1 2.285,2.284 z M 18.074,5.71 A 0.38,0.38 0 0 1 17.706,5.43 L 17.345,4.079 A 0.38034228,0.38034228 0 0 1 18.08,3.883 l 0.361,1.35 A 0.38,0.38 0 0 1 18.074,5.711 Z M 14.72,7.1 A 0.38,0.38 0 0 1 14.39,6.91 L 13.69,5.7 a 0.38035543,0.38035543 0 1 1 0.659,-0.38 l 0.699,1.21 A 0.38,0.38 0 0 1 14.719,7.1 Z M 11.837,9.312 A 0.38,0.38 0 0 1 11.568,9.2 L 10.58,8.213 a 0.38077717,0.38077717 0 0 1 0.538,-0.539 l 0.988,0.988 a 0.38,0.38 0 0 1 -0.27,0.65 z m -2.211,2.881 a 0.381,0.381 0 0 1 -0.19,-0.051 l -1.21,-0.698 a 0.38035543,0.38035543 0 1 1 0.38,-0.659 l 1.21,0.698 a 0.38,0.38 0 0 1 -0.19,0.71 z M 8.236,15.55 A 0.375,0.375 0 0 1 8.137,15.536 L 6.787,15.174 A 0.38,0.38 0 1 1 6.984,14.44 l 1.35,0.362 A 0.38,0.38 0 0 1 8.236,15.55 Z m 0.179,11.256 a 0.38,0.38 0 0 1 -0.19,-0.71 l 1.21,-0.7 a 0.38078866,0.38078866 0 1 1 0.38,0.66 l -1.21,0.698 a 0.382,0.382 0 0 1 -0.19,0.052 z m 2.433,3.171 a 0.38,0.38 0 0 1 -0.268,-0.65 l 0.988,-0.988 a 0.38042345,0.38042345 0 0 1 0.538,0.538 l -0.988,0.989 a 0.385,0.385 0 0 1 -0.27,0.11 z m 21.653,0 a 0.378,0.378 0 0 1 -0.268,-0.112 l -0.988,-0.988 a 0.38,0.38 0 1 1 0.537,-0.537 l 0.989,0.987 a 0.38,0.38 0 0 1 -0.27,0.65 z m 2.433,-3.171 a 0.383,0.383 0 0 1 -0.19,-0.052 l -1.21,-0.698 a 0.382,0.382 0 0 1 0.38,-0.66 l 1.21,0.7 a 0.38,0.38 0 0 1 -0.19,0.71 z m 1.53,-3.694 A 0.375,0.375 0 0 1 36.366,23.1 l -1.35,-0.362 a 0.38034228,0.38034228 0 1 1 0.196,-0.735 l 1.35,0.362 a 0.38,0.38 0 0 1 -0.098,0.747 z m -1.35,-7.562 a 0.38,0.38 0 0 1 -0.098,-0.748 l 1.35,-0.362 a 0.38,0.38 0 1 1 0.196,0.734 l -1.35,0.362 a 0.371,0.371 0 0 1 -0.098,0.013 z m -1.389,-3.357 a 0.38,0.38 0 0 1 -0.191,-0.71 l 1.21,-0.698 a 0.38035543,0.38035543 0 1 1 0.38,0.659 l -1.21,0.698 a 0.378,0.378 0 0 1 -0.189,0.051 z M 31.513,9.312 A 0.38,0.38 0 0 1 31.244,8.662 L 32.233,7.675 A 0.38007006,0.38007006 0 1 1 32.77,8.213 L 31.782,9.2 A 0.38,0.38 0 0 1 31.513,9.312 Z M 28.631,7.1 A 0.38,0.38 0 0 1 28.302,6.53 L 29.001,5.32 A 0.38,0.38 0 1 1 29.659,5.7 L 28.961,6.91 C 28.891,7.032 28.762,7.1 28.631,7.1 Z M 25.276,5.71 A 0.38,0.38 0 0 1 24.909,5.232 l 0.362,-1.35 a 0.38,0.38 0 1 1 0.733,0.197 l -0.361,1.35 A 0.38,0.38 0 0 1 25.276,5.71 Z"
                  fill="#000000"
                  opacity="1"
                  data-original="#000000"
                  class=""
                  id="path6"
                  style="fill:#ffffff;fill-opacity:1" />
            <path d="m 21.675,17.246 a 0.38,0.38 0 0 1 -0.38,-0.38 v -8.09 a 0.38,0.38 0 1 1 0.76,0 v 8.09 c 0,0.21 -0.17,0.38 -0.38,0.38 z m 6.735,1.904 h -4.832 a 0.38,0.38 0 1 1 0,-0.76 h 4.833 a 0.38,0.38 0 0 1 0,0.76 z M 6.886,23.112 A 0.38,0.38 0 0 1 6.787,22.365 l 1.35,-0.362 a 0.38047142,0.38047142 0 0 1 0.197,0.735 L 6.984,23.1 a 0.383,0.383 0 0 1 -0.098,0.012 z m 14.789,14.85 c -0.284,0 -0.533,0.093 -0.76,0.284 -0.207,0.175 -0.308,0.426 -0.308,0.768 0,0.343 0.1,0.593 0.308,0.768 0.228,0.192 0.476,0.285 0.76,0.285 0.284,0 0.532,-0.093 0.76,-0.284 0.208,-0.176 0.309,-0.426 0.309,-0.769 0,-0.342 -0.101,-0.593 -0.31,-0.768 a 1.14,1.14 0 0 0 -0.759,-0.284 z m 0,2.865 c -0.464,0 -0.885,-0.155 -1.25,-0.462 -0.385,-0.324 -0.579,-0.779 -0.579,-1.35 0,-0.573 0.194,-1.027 0.58,-1.35 a 1.89,1.89 0 0 1 1.25,-0.464 c 0.464,0 0.883,0.155 1.249,0.463 0.384,0.323 0.579,0.778 0.579,1.35 0,0.572 -0.195,1.027 -0.58,1.35 a 1.896,1.896 0 0 1 -1.249,0.463 z m -0.672,-5.211 h 1.38 a 48,48 0 0 0 0.239,-2.198 c 0.07,-0.82 0.106,-1.72 0.106,-2.673 V 27.918 H 20.64 v 2.827 c 0,0.951 0.038,1.85 0.114,2.67 0.067,0.721 0.15,1.46 0.249,2.2 z m 1.711,0.76 h -2.043 a 0.38,0.38 0 0 1 -0.376,-0.329 c -0.12,-0.86 -0.22,-1.722 -0.298,-2.561 a 30.009,30.009 0 0 1 -0.118,-2.741 v -3.207 c 0,-0.211 0.17,-0.38 0.38,-0.38 h 2.85 c 0.21,0 0.38,0.169 0.38,0.38 v 3.207 c 0,0.974 -0.038,1.896 -0.11,2.739 a 48.95,48.95 0 0 1 -0.288,2.563 0.382,0.382 0 0 1 -0.377,0.33 z"
                  fill="#000000"
                  opacity="1"
                  data-original="#000000"
                  class=""
                  id="path8"
                  style="fill:#ffffff;fill-opacity:1" />
            <path d="m 21.675,23.5 a 3.38,3.38 0 0 0 -2.957,1.707 L 11.64,37.468 a 3.374,3.374 0 0 0 0,3.414 3.377,3.377 0 0 0 2.955,1.707 h 14.16 a 3.38,3.38 0 0 0 2.956,-1.707 3.378,3.378 0 0 0 0,-3.414 L 24.631,25.207 A 3.379,3.379 0 0 0 21.675,23.5 Z m 7.08,19.85 h -14.16 a 4.13,4.13 0 0 1 -3.614,-2.088 4.132,4.132 0 0 1 0,-4.174 l 7.08,-12.261 a 4.132,4.132 0 0 1 3.614,-2.088 c 1.51,0 2.86,0.78 3.614,2.088 l 7.08,12.261 a 4.13,4.13 0 0 1 0,4.174 4.131,4.131 0 0 1 -3.615,2.087 z"
                  fill="#000000"
                  opacity="1"
                  data-original="#000000"
                  class=""
                  id="path10"
                  style="fill:#ffffff;fill-opacity:1" />
          </svg>
        </div>
        <div class="row justify-content-center mt-5 text-center">
            <p>
                Due to browser inactivity for the past 30 minutes your session has timed out and you must login again to access your data. <br />
                We apologize for the inconvenience, but session timeouts were added for security reasons to ensure that your data is protected.
            </p>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12 text-center">
                <small>
                    please click login button to return to login page
                </small>
            </div>
            <div class="col-12 mt-3 text-center">
                <a asp-action="Logout" asp-controller="Auth" class="btn btn-primary">Login Page</a>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>