<div class="modal fade" id="event-details-partial-modal" role="dialog" aria-labelledby="event-datails-partial-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id="event-details-modal-content"></div>
        </div>
    </div>
</div>